asgiref==3.7.2

dj-database-url==2.1.0

Django==4.1.10

django-environ==0.11.1

django-google-fonts==0.0.3

gunicorn==21.2.0

psycopg2-binary==2.9.7

pytz==2023.3

PyYAML==6.0.1

sqlparse==0.4.4

tzdata==2023.3

whitenoise==6.5.0